<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    {% load static %}
</head>
{% csrf_token %}
<link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
<body>
        <div class="heading">
            <h3><strong>Home page</strong></h3>
        </div>
        <div class="links">
            <a href="{% url 'register' %}"><input type="submit" value="REGISTER" style="height: 48px; width: 170px; background: blue; font-family: 'Times New Roman', Times, serif; color: white; font-size: 30px; border-radius: 10px; margin-bottom: 5px;"></a>
            <a href="{% url 'login' %}"><input type="submit" value="LOGIN" style="height: 48px; width: 170px; background: blue; font-family: 'Times New Roman', Times, serif; color: white; font-size: 30px; border-radius: 10px; margin-bottom: 5px;"></a>
            <a href="{% url 'list' %}"><input type="submit" value="USERS" style="height: 48px; width: 170px; background: blue; font-family: 'Times New Roman', Times, serif; color: white; font-size: 30px; border-radius: 10px; margin-bottom: 5px;"></a>
            
        </div>
</body>
</html>