<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGOUT</title>
</head>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'logout.css' %}">
<body>
    <form action="{% url 'logout' %}" method="POST">
        {% csrf_token %}
        <h3>WELCOME {{name}}</h3><br/>
        <div class="button">
            <a href="{% url 'logout' %}"><input type="submit" value="LOGOUT" style="height: 48px; width: 170px; background: blue; font-family: 'Times New Roman', Times, serif; color: white; font-size: 30px; border-radius: 10px;"></a>
        </div>
    </form>
</body>
</html>